@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --hue-color: 0;

  --scroll-bar-color: hsl(var(--hue-color), 0%, 0%);
  --scroll-thumb-color: hsl(var(--hue-color), 0%, 100%);
  --scroll-thumb-color-hover: hsl(var(--hue-color), 8%, 65%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121215;
  color: #fff;
}

@layer base {
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center justify-center;
  }
}

span {
  &:nth-of-type(2) {
    animation-delay: -2.2s; /* Start at the end of animation */
  }

  &:nth-of-type(3) {
    animation-delay: -3.7s; /* Start mid-way of return of animation */
  }
}

*::-webkit-scrollbar {
  width: 0.4rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-hover);
}
